# Fundamentals of Data Analysis Assignment
By Simona Vasiliauskaite G00263352

## Analysis of Anscombe's Quartet Dataset

**Objectives**
 1. Explain the background to the dataset.
 2. Plot the interesting aspects of the dataset.
 3. Calculate the descriptive statistics of the variables in the dataset.
 4. Explain why the dataset is interesting, referring to the plots and statistics above.

## 1. Background

Anscombe’s quartet is the name for a famous data set created by Frank Anscombe in 1973 to illustrate the importance of plotting data. Mr. Anscombe was a pioneer in the application of computers to the statistical analysis of data. A classic paper showed that one equation could fit four very different data sets, illustrating the importance of graphing data before analyzing it and the effect of outliers on statistical properties. This particular data set shows that for x-y measurement data, the marginal distributions and Pearson correlation are not sufficient to describe the association between x and y, and that scatterplots are needed as well.

Anscombe published 50 research articles and one book, “Computing in Statistical Science through APL” (1981) [Source](https://news.yale.edu/2001/10/23/memoriam-professor-francis-john-anscombe)

## 2. Dataset

In [5]:
#import pandas package

import pandas as pd

#load the Anscombe's data set from my GitHub file

df = pd.read_csv("https://goo.gl/RQ2zWC")

In [6]:
df

     I Unnamed: 1  II Unnamed: 3 III Unnamed: 5  IV Unnamed: 7
0    x          y   x          y   x          y   x          y
1   10       8.04  10       9.14  10       7.46   8       6.58
2    8       6.95   8       8.14   8       6.77   8       5.76
3   13       7.58  13       8.74  13      12.74   8       7.71
4    9       8.81   9       8.77   9       7.11   8       8.84
5   11       8.33  11       9.26  11       7.81   8       8.47
6   14       9.96  14        8.1  14       8.84   8       7.04
7    6       7.24   6       6.13   6       6.08   8       5.25
8    4       4.26   4        3.1   4       5.39  19       12.5
9   12      10.84  12       9.13  12       8.15   8       5.56
10   7       4.82   7       7.26   7       6.42   8       7.91
11   5       5.68   5       4.74   5       5.73   8       6.89